
@{
    ViewBag.Title = "Cadastro";
}
<div class="container">
    <form action="@Url.Action("Store")" method="post">
        <h2 class="col-md-12 text-center">BEBIDAS</h2>
        <br />  
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="campo-nome">Marca</label>
                    <select class="form-control" id="campo-marca" name="marca" required="required">
                        <option disabled selected>Selectione Alguma Marca.</option>
                        @foreach (Model.Marca marca in ViewBag.Marcas)
                        {
                            <option value="@marca.Id">@marca.Nome</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="campo-telefone">Nome</label>
                    <input class="form-control" id="campo-nome" name="nome"
                           required="required" type="text" placeholder="Nome da bebida" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="campo-telefone">Valor da Bebida</label>
                    <input class="form-control" id="campo-valor" name="valor"
                           onkeypress="$(this).mask('R$ 999.990,00')" required="required" type="text" placeholder="Valor da bebida" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="campo-telefone">Tipo da bebida</label>
                    <select class="form-control" id="campo-tipo" name="idTipo" required="required">
                        <option disabled selected>Escolha o Tipo da Bebida</option>
                        @foreach (Model.Tipo tipo in ViewBag.Tipos)
                        {
                            <option value="@tipo.Id">@tipo.Nome</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-6">
                <br />
                <br />
                <button type="submit" class="btn btn-outline-success float-lg-right">Cadastrar</button>
            </div>
        </div>
    </form>
</div>



