
@{
    ViewBag.Title = "Index";
}

<h2 class="col-md-11 text-center">Lista de Bebidas</h2>
<div class="row">
    <div class="col-12">
        <a class="btn btn-outline-success float-lg-right" href="@Url.Action("Cadastro")">
            Nova Bebida
        </a>
    </div>
</div>
<br />

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Tipo</th>
            <th>Marca</th>
            <th>Ação</th>
        </tr>
    </thead>

    <tbody>
        @foreach (Model.Bebida bebida in ViewBag.Bebidas)
        {
            <tr>
                <td>@bebida.Id</td>
                <td>@bebida.Nome</td>
                <td>@bebida.Valor</td>
                <td>@bebida.Tipo.Nome</td>
                <td>@bebida.Marca.Nome</td>
                <td>
                    <a href="@Url.Action("Editar" , new {id = bebida.Id})" class="btn btn-outline-primary"><i class="fas fa-pen"></i> Editar</a>
                    <a href="@Url.Action("Apagar" , new {id = bebida.Id})" class="btn btn-outline-danger"><i class="fas fa-trash"></i> Apagar</a>

                </td>
            </tr>
        }
    </tbody>
</table>



