
@{
    ViewBag.Title = "Editar";
}


    <form action="@Url.Action("Update")" method="post">
        <input type="hidden" name="id" value="@ViewBag.Clientes.Id" />

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="campo-nome">Nome</label>
                    <input type="Text" name="nome" id="campo-nome" class="form-control"
                           value="@ViewBag.Clientes.Nome" required maxlength="45" />
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="campo-nome">Usuario</label>
                    <input type="Text" name="usuario" id="campo-usuario" class="form-control"
                           value="@ViewBag.Clientes.Usuario" required maxlength="45" />
                </div>
            </div>
        </div>

       

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="campo-nome">Email</label>
                    <input type="email" name="email" id="campo-email" class="form-control"
                           value="@ViewBag.Clientes.Email" required maxlength="45" />
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="campo-nome">Telefone</label>
                    <input type="Text" name="telefone" data-mask="(00) 00000-0000" id="campo-telefone" class="form-control"
                           value="@ViewBag.Clientes.Telefone" required maxlength="45" />
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <button class="btn btn-success float-right" type="submit">
                    <i class="fas fa-save"></i> Salvar
                </button>
            </div>
        </div>
    </form>