
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!--<link rel="stylesheet" href="~/Content/card-styles/cardstyles.css" /> -->
<!----<form action="@Url.Action("Store")" method="post">
    <div class="card-container">
        <div class="row">

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top " src="~/Content/oi.png" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Skol</h4>
                        <p class="card-text">
                            A cerveja Skol é uma cerveja clara, com aroma refinado e sabor leve e suave. Cerveja Skol é jovem, ousada, irreverente, é a marca referência em eventos e a mais inovadora: foi a primeira cerveja em lata e lata de alumínio do país, a pioneira em garrafa long neck.
                        </p>
                    </div>
                    <ul class="list-group list-group-dividered px-20 mb-0">
                        <li class="list-group-item px-0">Fardo com 12 unidades</li>
                        <li class="list-group-item px-0">350 ml / cada</li>

                        <li class="list-group-item px-0">R$20,50</li>
                    </ul>
                    <div class="">

                        <a class="btn-round btn-success btn-sm   float-lg-right" href="/Compra/index"><i class="fas fa-shopping-cart"></i> Comprar</a>
                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#"><i class="fas fa-plus mr-3"></i> Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

            <div class="col-2 ml-4">
                <div class="card">
                    <img class="card-img-top " src="~/Content/de.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Proibida</h4>
                        <p class="card-text">
                            A Proibida é uma cerveja brasileira, inspirada na região de Plzen, na República Tcheca, onde nasceu o estilo “Pilsen”. Seguindo os padrões europeus, utiliza em sua fórmula malte e lúpulo importado, além de água de excelente qualidade.
                        </p>
                    </div>
                    <ul class="list-group list-group-dividered px-20 mb-0">
                        <li class="list-group-item px-0">Fardo com 12 unidades</li>
                        <li class="list-group-item px-0">350 ml / cada</li>
                        <li class="list-group-item px-0">R$27,90</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index"><i class="fas fa-shopping-cart mr-3"></i> Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#"><i class="fas fa-plus mr-3"></i> Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>



            <div class="col-2 ml-4">
                <div class="card">
                    <img class="card-img-top " src="~/Content/aasa.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Brahma</h4>
                        <p class="card-text">
                            A Brahma é clara, brilhante, transparente e internacionalmente conhecida como uma cerveja de excelente qualidade. É mais leve, com paladar clássico da baixa fermentação e tem sabor encorpado, aroma neutro, amargor menos acentuado e médio teor alcoólico.
                        </p>
                    </div>
                    <ul class="list-group list-group-dividered px-20 mb-0">
                        <li class="list-group-item px-0">Fardo com 12 unidades</li>
                        <li class="list-group-item px-0">350 ml / cada</li>
                        <li class="list-group-item px-0">R$31,09</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index"><i class="fas fa-shopping-cart mr-3"></i> Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#"><i class="fas fa-plus mr-3"></i> Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>



            <div class="col-2 ml-4">
                <div class="card">
                    <img class="card-img-top " src="~/Content/mog.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Itaipava</h4>
                        <p class="card-text">
                            Produzida com ingredientes 100% selecionados, água 100% cristalina e respeitando o tempo certo, a Itaipava é uma cerveja clara, leve, saborosa e refrescante. A família Itaipava é composta por: Pilsen, Premium, Malzbier, Zero Álcool, além do Chopp (claro e escuro) e Black.
                        </p>
                    </div>
                    <ul class="list-group list-group-dividered px-20 mb-0">
                        <li class="list-group-item px-0">Fardo com 12 unidades</li>
                        <li class="list-group-item px-0">350 ml / cada</li>
                        <li class="list-group-item px-0">R$22,80</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index"><i class="fas fa-shopping-cart mr-3"></i> Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#"><i class="fas fa-plus mr-3"></i> Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>



            <div class="col-2">
                <div class="card">
                    <img class="card-img-top " src="~/Content/add.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Antartica</h4>
                        <p class="card-text">
                            Como toda típica cerveja do tipo pilsen, Antartica é clara e tem baixa fermentação. Tem aroma, sabor e amargor suaves. É uma clássica cerveja pilsen que combina tradição e qualidade há mais de um século.
                        </p>
                    </div>
                    <ul class="list-group list-group-dividered px-20 mb-0">
                        <li class="list-group-item px-0">Fardo com 12 unidades</li>
                        <li class="list-group-item px-0">350 ml / cada</li>
                        <li class="list-group-item px-0">R$39,90</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index"><i class="fas fa-shopping-cart mr-3"></i> Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#"><i class="fas fa-plus mr-3"></i> Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top " src="~/Content/kaiser.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Kaiser</h4>
                        <p class="card-text">
                            Cerveja Pilsen produzida com ingredientes criteriosamente selecionados, a Kaiser é refrescante, suave, saborosa e reflete com perfeição o espírito democrático e divertido dos bares brasileiros.
                        </p>
                    </div>
                    <ul class="list-group list-group-dividered px-20 mb-0">
                        <li class="list-group-item px-0">Fardo com 12 unidades</li>
                        <li class="list-group-item px-0">350 ml / cada</li>
                        <li class="list-group-item px-0">R$28,67</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index"><i class="fas fa-shopping-cart mr-3"></i> Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#"><i class="fas fa-plus mr-3"></i> Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>


            <div class="col-2">
                <div class="card">
                    <img class="card-img-top " src="~/Content/hei.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Heineken</h4>
                        <p class="card-text">
                            Reconhecida mundialmente pela garrafa verde, a estrela vermelha e seus eventos esportivos que patrocina, a cerveja holandesa vem mantido o sucesso entre jovens e adultos com uma receita que mantém o alto padrão de qualidade há mais de 140 anos.
                        </p>
                    </div>
                    <ul class="list-group list-group-dividered px-20 mb-0">
                        <li class="list-group-item px-0">Fardo com 12 unidades</li>
                        <li class="list-group-item px-0">350 ml / cada</li>
                        <li class="list-group-item px-0">R$48,90</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index"><i class="fas fa-shopping-cart mr-3"></i> Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#"><i class="fas fa-plus mr-3"></i> Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>



            <div class="col-2">
                <div class="card">
                    <img class="card-img-top " src="~/Content/barril.png" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Heineken</h4>
                        <p class="card-text">
                            Reconhecida mundialmente pela garrafa verde, a estrela vermelha e seus eventos esportivos que patrocina, a cerveja holandesa vem mantido o sucesso entre jovens e adultos com uma receita que mantém o alto padrão de qualidade há mais de 140 anos.
                        </p>
                    </div>
                    <ul class="list-group list-group-dividered px-20 mb-0">
                        <li class="list-group-item px-0">Barril</li>
                        <li class="list-group-item px-0">5 Litros</li>
                        <li class="list-group-item px-0">R$79,90</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index"><i class="fas fa-shopping-cart mr-3"></i> Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#"><i class="fas fa-plus mr-3"></i> Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>




            <div class="col-2">
                <div class="card">
                    <img class="card-img-top " src="~/Content/skin.png" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Skin</h4>
                        <p class="card-text">
                            Principal cerveja da Cervejaria Schincariol, é uma cerveja tipo american lager, leve, não puro malte. Típica "pilsen" brasileira.
                        </p>
                    </div>
                    <ul class="list-group list-group-dividered px-20 mb-0">
                        <li class="list-group-item px-0">Fardo com 12 unidades</li>
                        <li class="list-group-item px-0">350 ml / cada</li>
                        <li class="list-group-item px-0">R$24,30</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index"><i class="fas fa-shopping-cart mr-3"></i> Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#"><i class="fas fa-plus mr-3"></i> Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>


            <div class="col-2">
                <div class="card">
                    <img class="card-img-top " src="~/Content/bavaria.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Bavaria</h4>
                        <p class="card-text">
                            Bavaria Clássica é uma cerveja produzida seguindo os mais rigorosos padrões de qualidade na fabricação e seleção dos ingredientes. O malte é obtido a partir de sementes de cevada cultivadas nas mais tradicionais regiões produtoras.
                        </p>
                    </div>
                    <ul class="list-group list-group-dividered px-20 mb-0">
                        <li class="list-group-item px-0">Fardo com 12 unidades</li>
                        <li class="list-group-item px-0">350 ml / cada</li>
                        <li class="list-group-item px-0">R$19,10</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index"><i class="fas fa-shopping-cart mr-3"></i> Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#"><i class="fas fa-plus mr-3"></i> Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-2">
                <div class="card">
                    <img class="card-img-top " src="~/Content/Imperio.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Império</h4>
                        <p class="card-text">
                            Produzida por quem realmente entende de cerveja, Império traz o puro malte, a autenticidade da cerveja pilsen e ingredientes importados. Ou seja: vem com tudo o que você procura em uma cerveja legítima mesmo.
                        </p>
                    </div>
                    <ul class="list-group list-group-dividered px-20 mb-0">
                        <li class="list-group-item px-0">Fardo com 12 unidades</li>
                        <li class="list-group-item px-0">350 ml / cada</li>
                        <li class="list-group-item px-0">R$79,90</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index"><i class="fas fa-shopping-cart mr-3"></i> Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#"><i class="fas fa-plus mr-3"></i> Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>



            <div class="col-2">
                <div class="card">
                    <img class="card-img-top " src="~/Content/Jack.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Jack Daniels</h4>
                        <p class="card-text">
                            Jack Daniels, o Whisky mais vendido do mundo, é produzido desde 1866, na cidade de Lynchburg, no Tennessee, em uma das mais antigas destilarias dos EUA.Feito com os mais finos e puros grãos e água sem ferro da nossa caverna, Jack Daniel´s é considerado um whiskey único.
                        </p>
                    </div>
                    <ul class="list-group list-group-dividered px-20 mb-0">
                        <li class="list-group-item px-0">Fardo com 12 unidades</li>
                        <li class="list-group-item px-0">350 ml / cada</li>
                        <li class="list-group-item px-0">R$120,09</li>
                    </ul>
                    <div class="row">
                        <a class="btn-round btn-success btn-sm float-lg-right" href="/Compra/index"><i class="fas fa-shopping-cart mr-3"></i> Comprar</a>

                        <a class="btn-round btn-warning btn-sm float-lg-right" href="#"><i class="fas fa-plus mr-3"></i> Adicionar no Carrinho</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
    -->





<head>
    <meta charset="utf-8" />
    <title>City Of Drinks</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/Home.css" />
    <style>
    </style>
</head>
<body>


    <div class="container card-deck">
        <aside id="menu" class="flex flex-column">
            <img id="menuIcon2" src="menu.svg" style="margin-right: 5px; cursor: pointer;" />
            <a href="#">Perfil</a>
            <a href="#">Meu carrinho</a>
            <a href="#">Bebidas</a>
        </aside>
        <header class="flex align-center">
            <div class="flex">
                <img id="menuIcon" src="menu.svg" style="margin-right: 5px; cursor: pointer;" />
                <h3>City Of Drinks</h3>
            </div>
            <div class="flex">
                <button class="header-buttons" id="register">Cadastrar-se</button>
                <button class="header-buttons" id="login">Entrar</button>
            </div>
        </header>
        <main id="main" class="flex flex-column">
            <h1>Boas-Vindas</h1>
            <p style="margin-top: 10px;">Estamos felizes em ver você aqui!</p>
            <p>Role para baixo para navegar por nossa loja.</p>
            <img src="~/Content/arrow.png" />
        </main>
        <section class="flex flex-column">
            <div id="search" class="flex justify">
                <input type="text" placeholder="Faça sua busca aqui...">
                <button>Buscar</button>
            </div>
            <article class="flex flex-column">
                <h2>Destaques da Loja</h2>
                <span class="subtitle">Confira os produtos que tiveram mais saída nos últimos dias.</span>
                <div class="flex cards-pane">
                    @foreach (Model.Bebida bebida in ViewBag.Bebidas)
                    {
                        <div class="card flex flex-column align-center" style="margin-left: 0;">
                            <div class="card-deck">
                                @switch (@bebida.Marca.Nome)
                                {
                                    case "Smirnoff":
                                        <img src="~/Content/Smirnoff.jpg" />
                                        break;
                                    case "Heineken":
                                        <img src="~/Content/hei.jpg" />
                                        break;
                                    case "Kaiser":
                                        <img src="~/Content/kaiser.jpg" />
                                        break;
                                    case "Skol":
                                        <img src="~/Content/oi.png" />
                                        break;
                                    case "Jack Daniels":
                                        <img src="~/Content/Jack.jpg" />
                                        break;
                                    case "Johnnie Walker":
                                        <img src="~/Content/asd.jpg" />
                                        break;
                                    case "Famous Grouse":
                                        <img src="~/Content/123.jpg" />
                                        break;
                                    case "Guarana":
                                        <img src="~/Content/21.jpg" />
                                        break;
                                    case "Dell Vale":
                                        <img src="~/Content/Dell Vale de Laranja.jpg" />
                                        break;
                                    case "Manguary":
                                        <img src="~/Content/31.jpg" />
                                        break;
                                    case "Prats":
                                        <img src="~/Content/11.jpg" />
                                        break;
                                    case "Absolut":
                                        <img src="~/Content/33.jpg" />
                                        break;
                                    case "Skyy":
                                        <img src="~/Content/43.jpg" />
                                        break;
                                    case "Crystal":
                                        <img src="~/Content/53.jpg" />
                                        break;
                                    case "Voss":
                                        <img src="~/Content/12.jpg" />
                                        break;
                                    case "Leve":
                                        <img src="~/Content/images.jpg" />
                                        break;
                                }
                            </div>
                            <h4 class="card-title">@bebida.Marca.Nome</h4>
                            <ul class="list-group list-group-dividered px-20 mb-0">
                                <li class="list-group-item px-0">Preço: @bebida.Valor</li>
                                <li class="list-group-item px-0">Marca: @bebida.Marca.Nome</li>
                                <li class="list-group-item px-0">Tipo: @bebida.Tipo.Nome</li>
                            </ul>
                        </div>
                    }
                </div>
            </article>
            <article class="flex flex-column">
                <h2>Promoções</h2>
                <span class="subtitle">Fizemos uma seleção de produtos com preços especiais para você.</span>
                <div class="flex cards-pane">
                    <div class="card flex flex-column align-center" style="margin-left: 0;">
                        <div class="card-deck">
                            <img src="~/Content/Absolut.jpg" />
                        </div>
                        <span class="card-title">Absolut</span>
                        <span class="card-categoria">Vodka</span>
                        <button class="botao-detalhe">Detalhes</button>
                    </div>

                    <div class="card flex flex-column align-center">
                        <div class="card-deck">
                            <img src="~/Content/Crystal.jpg" />
                        </div>
                        <span class="card-title">Crystal</span>
                        <span class="card-categoria">Água</span>
                        <button class="botao-detalhe">Detalhes</button>
                    </div>

                    <div class="card flex flex-column align-center">
                        <div class="card-deck">
                            <img src="~/Content/kaiser.jpg" />
                        </div>
                        <span class="card-title">Kaiser</span>
                        <span class="card-categoria">Cerveja</span>
                        <button class="botao-detalhe">Detalhes</button>
                    </div>

                    <div class="card flex flex-column align-center">
                        <div class="card-deck">
                            <img src="~/Content/jonnie.jpg" />
                        </div>
                        <span class="card-title">Jonnie Walker</span>
                        <span class="card-categoria">Whisky</span>
                        <button class="botao-detalhe">Detalhes</button>
                    </div>

                    <div class="card flex flex-column align-center">
                        <div class="card-deck">
                            <img src="~/Content/Guarana.jpg" />
                        </div>
                        <span class="card-title">Guaraná Antarctica</span>
                        <span class="card-categoria">Refrigerante</span>
                        <button class="botao-detalhe">Detalhes</button>
                    </div>

                    <div class="card flex flex-column align-center">
                        <div class="card-deck">
                            <img src="~/Content/heineken.jpg" />
                        </div>
                        <span class="card-title">Heineken</span>
                        <span class="card-categoria">Cerveja</span>
                        <button class="botao-detalhe">Detalhes</button>
                    </div>
                </div>
            </article>
        </section>
        <footer class="flex" style="justify-content: space-between;">
            <div class="flex flex-column">
                <h2>Contato</h2>
                <span>contato@cof.com</span>
                <span>(47)3322-3344</span>
            </div>
            <div class="flex flex-column">
                <a href="#main">Voltar para o topo</a>
            </div>
            <div class="flex flex-column" style="text-align: right;">
                <h2>Outras Informações</h2>
                <span>R. 7 de Setembro, 1600</span>
                <span>Centro, Blumenau</span>
            </div>
        </footer>
    </div>
    <script>
        let menuIcon = document.querySelector("#menuIcon");
        let menuIcon2 = document.querySelector("#menuIcon2");
        let menu = document.querySelector("#menu");
        function menuAnimation(left, animation) {
            menu.classList.add(animation);
            menu.addEventListener("animationend", () => {
                menu.style.left = left;
                menu.classList.remove(animation);
            })
        }
        menuIcon.addEventListener("click", () => {
            menuAnimation(0, "slide");
        })
        menuIcon2.addEventListener("click", () => {
            menuAnimation("-200px", "slide-reverse");
        })
    </script>


</body>


