
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-12">
        <a class="btn btn-primary" href="@Url.Action("Cadastro")">
            Novo Item No Estoque
        </a>
    </div>
</div>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Código</th>
            <th>Produto</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Model.Estoque estoque in ViewBag.Estoques)
        {
        <tr>
            <td>@estoque.Id</td>
            <td>@estoque.Produto</td>
            <td>@estoque.Compra.
            <td>@estoque.Fornecedor.Nome</td>
            <td>
                <a href="@Url.Action("Editar", new {id = estoque.Id})" class="btn btn-primary"><i class="fas fa-pen"></i> Editar </a>

                <a href="@Url.Action("Apagar", new {id = estoque.Id})" class="btn btn-danger">
                    <i class="fas fa-trash"></i> Apagar
                </a>
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Código</th>
            <th>Produto</th>
            <th>Ação</th>
        </tr>
    </tfoot>
</table>  