
@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>


<form action="@Url.Action("Update")" method="post">
    <input type="hidden" name="id" value="@ViewBag.Cliente.Id" />

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-nome">Nome</label>
                <input type="Text" name="nome" id="campo-nome" class="form-control"
                       value="@ViewBag.Cliente.Nome" required maxlength="45" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-nome">Cpf</label>
                <input type="Text" name="cpf" data-mask="000.000.000-00" id="campo-cpf" class="form-control"
                       value="@ViewBag.Cliente.Cpf" required maxlength="45" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-nome">Usuario</label>
                <input type="Text" name="usuario" id="campo-usuario" class="form-control"
                       value="@ViewBag.Cliente.Usuario" required maxlength="45" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-nome">Data Nascimento</label>
                <input type="Text" name="datanascimento" data-mask="00/00/0000" id="campo-dataNascimento" class="form-control"
                       value="@ViewBag.Cliente.DataNascimento" required maxlength="45" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-nome">Email</label>
                <input type="email" name="email" id="campo-email" class="form-control"
                       value="@ViewBag.Cliente.Email" required maxlength="45" />
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-nome">Telefone</label>
                <input type="Text" name="telefone" data-mask="(00) 00000-0000"id="campo-telefone" class="form-control"
                       value="@ViewBag.Cliente.Telefone" required maxlength="45" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button class="btn btn-success float-right" type="submit">
                <i class="fas fa-save"></i> Salvar
            </button>
        </div>
    </div>
</form>
