
@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-12">
        <a class="btn btn-outline-success float-right" href="@Url.Action("Cadastro")">Novo Cliente</a>
    </div>
</div>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Data de nascimento</th>
            <th>Cpf</th>
            <th>Telefone</th>
            <th>Usuário</th>
            <th>Email</th>
            <th>Senha</th>
            <th>Ação</th>
        </tr>
    </thead>

    <tbody>
        @foreach (Model.Cliente cliente in ViewBag.Clientes)
        {
            <tr>
                <td>@cliente.Id</td>
                <td>@cliente.Nome</td>
                <td>@cliente.DataNascimento</td>
                <td>@cliente.Cpf</td>
                <td>@cliente.Telefone</td>
                <td>@cliente.Usuario</td>
                <td>@cliente.Email</td>
                <td>@cliente.Senha</td>

                <td>
                    <a href="@Url.Action("Editar", new {id = cliente.Id})" class="btn btn-outline-primary"><i class="fas fa-pen"></i> Editar</a>

                    <a href="@Url.Action("Apagar", new { id = cliente.Id })" class="btn btn-outline-danger"><i class="fas fa-trash"></i> Apagar</a>

                </td>
            </tr>
        }
    </tbody>

</table>

