
@{
    ViewBag.Title = "Index";
}

<h2>Meu Carrinho</h2>
<br />
<div class="row">
    <div class="col-2"></div>
</div>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Valor</th>
            <th>Total</th>
        </tr>
    </thead>

    <tbody>
        @foreach (Model.CompraProduto compra in ViewBag.Compras)
        {
        <tr>
            <!-- Caso bebida for null, entao o produto é um acessório -->
            @if (compra.Bebida != null)
            {
                <td>@compra.Bebida.Nome</td>
            }
            else if (compra.Acessorio != null)
            {
                <td>@compra.Acessorio.Nome</td>
            }

            <td>@compra.Quantidade</td>

            @if (compra.Bebida != null)
            {
                <td>@compra.Bebida.Valor</td>
            }
            else if(compra.Acessorio != null)
            {
            <td>@compra.Acessorio.Preco</td>
            }

            @if (compra.Bebida != null)
            {
                <td>@compra.ValorTotal</td>
            }
            else if(compra.Acessorio != null)   
            {
                <td>@compra.ValorTotal</td>
            }
        </tr>
        }
    </tbody>
</table>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>



<a class="btn btn-outline-success  mb-3 mb-md-0 ml-md-3 float-lg-right" href="/Cliente/login">Fechar Pedido</a>
<a class="btn btn-outline-warning  mb-3 mb-md-0 ml-md-3 float-lg-right" href="/Home/index">Continuar Comprando</a>
<a class="btn btn-outline-info  mb-3 mb-md-0 ml-md-3 float-lg-right" href="/Home/Preview">Gerar PDF da Compra</a>

