
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center"><i class="fas fa-shopping-cart"></i> Meu Carrinho</h2>
<br />
<br />
<div class="row">
    <div class="col-2"></div>
</div>

<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Produto</th>
            <th>Marca</th>
            <th>Quantidade</th>
            <th>Valor</th>
            <th>Total</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>
        @foreach (Model.CompraProduto compra in ViewBag.Compras)
        {
            <tr>

                <!-- Caso bebida for null, entao o produto é um acessório -->
                @if (compra.Bebida != null)
                {
                    <td>@compra.Bebida.Nome</td>
                }
                else if (compra.Acessorio != null)
                {
                    <td>@compra.Acessorio.Nome</td>
                }

                @if (compra.Bebida != null)
                {
                    <td>@compra.Bebida.Marca.Nome</td>
                }
                else if (compra.Acessorio != null)
                {
                    <td>@compra.Acessorio.Tipo</td>
                }
                <td>@compra.Quantidade</td>

                @if (compra.Bebida != null)
                {
                    <td>@compra.Bebida.Valor</td>
                }
                else if (compra.Acessorio != null)
                {
                    <td>@compra.Acessorio.Preco</td>
                }

                @if (compra.Bebida != null)
                {
                    <td>@compra.ValorTotal</td>
                }
                else if (compra.Acessorio != null)
                {
                    <td>@compra.ValorTotal</td>
                }

                <td>
                    <a class="btn btn-danger" href="@Url.Action("removerDoCarrinho", "compra", new { id = compra.Id})"><i class="fas fa-trash-alt"></i> Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>



<a class="btn btn-success mb-3 mb-md-0 ml-md-3 float-lg-right" href="/Home/Preview"><i class="fas fa-check-circle"></i> Fechar Pedido</a>
<a class="btn btn-warning mb-3 mb-md-0 ml-md-3 float-lg-right" href="/Home/index"><i class="fas fa-cart-arrow-down"></i> Continuar Comprando</a>

<br />
<br />
<br />
